<!DOCTYPE html>

<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="style.css">
	<title>Registration</title>
</head>
<body>
<div id="mainContainer">
<div id="topLayout">
	<h1>Registration</h1>
</div>
<div id="centerLeftLayout">
	<div class="pure-menu">
		<span class="pure-menu-heading">Menu</span>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="#" target="_self" class="pure-menu-link">Register</a></li>
			<li class="pure-menu-item"><a href="#" target="_self" class="pure-menu-link">Create User</a></li>
			<li class="pure-menu-item"><a href="#" target="_self" class="pure-menu-link">Summary</a></li>
		</ul>
	</div>
</div>
<div id="centerRightLayout">
	<form action="action_register.php" method="post">
		Insert your code:<input type="text" name="code_user"/>
		<input type="submit" value="Register" />
	</form>
</div>
</div>
<div id="bottomLayout"></div>
</body>
</html>